.nav a{
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.nav li{
  display:inline;
}

.jumbotron .container{
    position:relative;
    top: 100px;
	left:150px;
}

	
.jumbotron {
    height:500px;
    background-image: url('http://goo.gl/04j7Nn');
}

.jumbotron h1{
    color: #fff;
    font-size: 48px;
    font-weight: bold;
	font-family: 'shift', sans-serif;

}

.jumbotron p{
    color:#fff;
    font-size: 20px;
}

.neighborhood-guides{
    background-color:#efefef;
     border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2{
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p{
    font-size: 15px;
    margin-bottom: 13px;
}

.learn-more {
    background-color: #f7f7f7;
}
.learn-more h3{
    font-family: 'shift', sans-serif;
    font-size: 18px;
    font-weight:bold;
}
.learn-more a{
    color:#00b0ff;
}